$overdue: #c2185b;
$due-today: #f57c00;
$awaiting-on-hold: #5d4037;
$open-requests: #1976d2;

.state-button-container {
	position: relative;
	padding-bottom: 10px;
	top: -50px;

	.states-container {
		margin: 0;
	}

	.last-refreshed-at {
		padding: 5px 0;

		span {
			font-size: 14px;
			color: $dark-color-2;
			margin-right: 10px;
		}

		.md-icon {
			margin: inherit;

			&:focus {
				outline: 0;
			}
		}
	}
}

.dashboard-search-container {
	top: -50px;
}

#dashboard {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	clear: both;
	padding-top: 15px;

	.results-legend {
		padding-bottom: 0;
	}

	.md-icon.dashboard-indicator {
		margin-left: 20px;

		svg {
			min-height: 25px;
			min-width: 25px;
			position: relative;
			top: -2px;
		}
	}

	.md-icon.overdue svg { fill: $overdue; }
	.md-icon.due-today svg { fill: $due-today; }
	.md-icon.awaiting-on-hold svg { fill: $awaiting-on-hold; }
	.md-icon.open-requests svg { fill: $open-requests; }

	span.dashboard-indicator-label {
		font-weight: 500;

		&.overdue { color: $overdue; }
		&.due-today { color: $due-today; }
		&.awaiting-on-hold { color: $awaiting-on-hold; }
		&.open-requests { color: $open-requests; }
	}

	#icon-container {
		background-color: $bg-2;
		padding: 0 20px 40px;

		.dashboard-box-container {
			position: relative;
			width: 25%;
			float: left;
			margin-top: 30px;

			.wrapper {
				margin: 0 30px;
			}

			&:focus,
			&:active {
				outline: 0;
			}
		}

		.dashboard-box {
			box-shadow: 2px 2px 2px #cfcfcf;
			height: 100px;
			background-color: white;
			position: relative;
			overflow: hidden;
			outline: 0;
		}

		.icon-wrapper-shadow {
			position: absolute;
			box-shadow: 2px 2px 2px #cfcfcf;
			height: 60px;
			width: 60px;
			left: 15px;
			top: 20px;
		}

		.icon-wrapper {
			z-index: 1;
			&.overdue { background-color: $overdue; }
			&.due-today { background-color: $due-today; }
			&.awaiting-on-hold { background-color: $awaiting-on-hold; }
			&.open-requests { background-color: $open-requests; }

			height: 60px;
			width: 60px;
			position: absolute;
			left: 15px;
			top: 20px;

			.md-icon {
				width: 60px;
				height: 60px;
				outline: 0;

				svg {
					height: 40px;
					width: 40px;
					float: left;
					fill: white;
					padding: 10px;
				}
			}
		}

		.dashboard-label {
			&.overdue { color: $overdue; }
			&.due-today { color: $due-today; }
			&.awaiting-on-hold { color: $awaiting-on-hold; }
			&.open-requests { color: $open-requests; }

			font-size: 14px;
			font-weight: 500;
			margin: 25px 0 0 60px;

			.md-icon.dashboard-icon-active {
				height: 15px;
				width: 15px;
				min-height: 15px;
				min-width: 15px;
				position: absolute;
				top: 1px;
				right: -20px;

				svg {
					fill: $dark-color-3;
				}
			}
		}

		.dashboard-count {
			font-size: 26px;
			margin: 5px 0 0 60px;
		}

		.dashboard-number-of-results {
			font-size: 32px;
		}
	}
}

.dashboard-search {
	table tr th.row-confirmation-number { width: 8%; }
	table tr th.row-status { width: 7%; }
	table tr th.row-type { width: 6%; }
	table tr th.row-customer { width: 10%; }
	table tr th.row-name { width: 14%; }
	table tr th.row-vin { width: 10%; }
	table tr th.row-city { width: 15%; }
	table tr th.row-state { width: 7%; }
	table tr th.row-request-date { width: 11%; }
	table tr th.row-sla-date { width: 11%; }
}

.md-select-menu .md-content .md-option[selected],
.md-select-menu .md-content .md-option[selected]:focus {
	color: $dark-color-1;
}

.md-checkbox-enabled[selected] .md-icon {
	background-color: $dark-color-1;
}
