#crm-organization-search-form {
	margin-top: 40px;

	.md-errors-spacer {
		display: none;
	}

	.crm-input-row {
		margin: 18px 0;
	}

	.crm-buttons-row {
		margin-top: 42px;
	}

	.crm-line-divider {
		height: 322px;
		border-left: dotted;
		border-left-color: $dark-color-4;
		border-width: 2px;
		margin-top: 26px;
		margin-left: 70px;
	}

	.crm-second-column {
		label {
			padding-left: 65px;
		}
	}

	.crm-zip {
		margin-top: 25px;
	}
}
