*[ng-click] {
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search-results,
.request-history,
.internal-comments,
.appt-availability,
.organizations-select {
	table {
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;

		thead tr,
		tfoot tr {
			background-color: $secondary-5;
		}

		thead {
			tr th span:hover {
				cursor: pointer;
			}
		}

		tfoot {
			td {
				padding: 0;
			}
		}

		tbody {
			tr:nth-child(even) {
				background-color: $bg-4;
			}

			tr:nth-child(odd) {
				background-color: $bg-2;
			}
		}

		th,
		td {
			padding: 18px 10px;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		th:last-child,
		td:last-child {
			padding-right: 0;
		}

		tr th div {
			display: inline-flex;
			line-height: 24px;
		}

		tr th div span:first-of-type {
			white-space: nowrap;
			overflow: hidden;
		}

		td .md-radio-button {
			margin: 0;
		}
	}
}

.search-results {
	th {
		@extend .noselect;
	}
}
