<!-- <nav class="navbar navbar-expand-lg" style="background-color: #2f3a81;">
  <div class="container-fluid ">
    <div id="brand-logo">
      <img src="../../../assets/img/logo.png">
    </div>


  </div>
</nav> -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background-color: #2f3a81;" >
  <div class="container" style="margin:5% 5% 5% 5% !important; display: contents !important">
    <div style="padding-left: 1.5% !important;">
    <div id="brand-logo"><img src="../../../assets/img/logo.png" alt="AiM logo"></div>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul id="navbar-list" >
        <li class="navbar-item">
          <span [ngClass]="dashactive" (click)="openDashboard()">
            <a class="navbar-link">
              Dashboard
            </a>
          </span>

        </li>
        <li class="navbar-item" >
          <span  [ngClass]="reqactive" (click)="openRequest()">
            <a class="navbar-link">
              Request
            </a>
          </span>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <i class="fa fa-search iconc" aria-hidden="true"></i>
    </form>
    <form class="form-inline">
      <!-- <input class="form-controls mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <input class="form-controls custom-h mr-sm-2"
        style="color:rgba(255, 255, 255, 1);border-color:rgba(255, 255, 255, 1);border-top: none; border-left: none; border-right: none;"
        type="search" placeholder="Search" aria-label="Search">

    </form>
    <form class="form-inline" (click)="logout()">
      <i class="fa fa-user iconc" aria-hidden="true"></i>
    </form>



  </div>