form#nav-search {
  input {
    color: $white-color-1;
    border-color: $white-color-1;
  }
}

.search,
md-datepicker {
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
  }

  label {
    height: 24px;
    width: 24px;
    margin: 0;
    position: relative;
    top: 35px;
    left: 10px;
    float: left;
  }

  input[type="search"] {
    padding-left: 40px;
    box-sizing: border-box;
  }
}

#search-container {
  position: relative;
  width: 100%;
  background-color: $bg-2;

  &[role="tabpanel"] {
    border-top: 5px solid $secondary-2;
  }

  form {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 0 20px 40px;
    clear: both;

    .advanced-search-fields {
      div[layout="row"]:not(.vin-row) {
        max-width: 500px;
      }

      .vin-row {
        .input-column {
          max-width: 310px;
        }

        label.hint {
          position: relative;
          top: 20px;
          left: 10px;
          color: $dark-color-2;
          font-size: 14px;
        }
      }

      label {
        min-width: 190px;
      }

      label.input-label-md-input~md-input-container,
      label.input-label-md-input~div md-input-container {
        margin: 12px 0 0;
      }
    }

    input#basic-search-input {
      margin-bottom: 15px;
    }

    md-checkbox {
      margin-top: 6px;
    }

    .md-button.md-primary:last-of-type {
      margin-right: 0;
    }
  }
}
