.add-organization {
	@extend .inspection-request;

	.md-input-container {
		min-width: 200px;
	}

	h3 {
		margin: 0;
		color: $primary-2;
		line-height: 25px;
	}

	.md-checkbox {
		margin: 0;
	}

	.organization-address {
		.md-input-container {
			margin: 0;
		}

		.md-input-container.country-select {
			margin: 18px 0;
		}
	}

	.add-code-btn {
		margin: 0 0 20px;
	}

	.code-close {
		height: 24px;
		margin-top: 25px;
	}

	.additional-fields {
		.md-input-container {
			margin-top: 0;
			margin-bottom: 0;
		}

		label {
			margin-top: 10px;
		}
	}

	section.details {
		margin-top: 40px;
	}

	.pickup-location-address {
		@extend .organization-address;

		margin: 40px 0 20px;

		.md-checkbox {
			margin-top: 18px;
		}
	}

	.additional-data-field {
		height: 45px;

		&:first-of-type {
			margin-top: 18px;
		}
	}
}
