.organizations-select {
	.md-radio-group {
		border: 1px solid $white-color-2;
		display: block;
		max-height: 400px;
		overflow: auto;
	}

	table tr {
		th.row-customer {
			width: 15%;
		}

		th.row-name {
			width: 20%;
		}

		th.row-code {
			width: 15%;
		}

		th.row-country {
			width: 15%;
		}

		th.row-state {
			width: 10%;
		}

		th.row-city {
			width: 15%;
		}

		th.row-select {
			width: 10%;
		}
	}
}
