.back-results {
	margin-left: 50px;
	font-weight: bold;
}

.details-header {
	margin: 20px 0;
	min-height: 50px;
	border-bottom: 5px solid $secondary-2;

	.conf-num {
		color: $white-color-1;
		background-color: $secondary-2;
		padding: 10px 30px;
		font-weight: bold;
		margin-right: 50px;
		border-bottom: 1px solid $secondary-2;
		display: inline-block;
	}

	.crm-request-date {
		display: inline-block;
		margin-right: 20px;
	}

	.status-type {
		min-height: 50px;
		margin-left: 50px;

		div {
			margin-right: 10px;
		}
	}

	.visibility-icon {
		margin-left: 15px;
	}
}

.details-two-column-left {
	padding-right: 20px;
}

.details-two-column-right {
	padding-left: 20px;
}

.auction-codes {
	margin-top: 10px;
}

.details-content {
	margin: 0 auto;
	word-wrap: break-word;
	word-break: break-word;

	.section-content {
		background-color: $bg-2;
		margin-bottom: 40px;

		p {
			font-weight: 500;

			&.info-content {
				color: $dark-color-2;
				font-weight: normal;
			}

			&.appointment-details-display-name {
				font-weight: bold;
			}
		}

		& > div {
			padding: 10px 20px;
		}

		&.appointment-detail > div {
			padding: 10px 0 10px 20px;
		}

		md-toolbar .md-icon-button.md-button.edit-button svg {
			display: none;
		}

		md-toolbar .md-icon-button.md-button.edit-button:focus svg {
			display: block;
		}

		&:hover {
			md-toolbar .md-icon-button.md-button.edit-button svg {
				display: block;
			}
		}

		span.label {
			color: $primary-2;
			margin-right: 10px;
		}

		span.label.e {
			color: $status-c;
			margin-right: 10px;
		}
	}

	.section-header {
		background-color: $primary-2;
		min-height: 40px;
		color: $white-color-1;

		h2 {
			height: auto;
		}
	}
}

.status-type-icon {
	line-height: 35px;
	margin-right: 10px;
}

.appointment-detail {
	& > div {
		margin-top: 20px;
	}

	.appointment-calendar,
	.appointment-calendar-scheduled {
		width: 100px;
		height: 100px;
		margin: 0 20px 10px;
		background-size: 100%;
		background-color: transparent;
	}

	.appointment-calendar {
		margin-top: 20px;
		background-image: url("../img/calendar-no-appointment.png");
	}

	.appointment-calendar-scheduled {
		background-image: url("../img/calendar-scheduled-appointment.png");
	}

	.appointment-calendar-scheduled-holder {
		.appointment-calendar-year {
			color: $secondary-2;
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
		}

		.appointment-calendar-month {
			color: $white-color-1;
			font-size: 18px;
			line-height: 18px;
			font-weight: bold;
			margin-top: 10px;
		}

		.appointment-calendar-day {
			color: $primary-2;
			font-size: 42px;
			line-height: 34px;
			font-weight: bold;
			margin-top: 12px;
		}

		.appointment-calendar-week-day {
			color: $primary-2;
			font-size: 10px;
			line-height: 16px;
			font-weight: lighter;
			margin-top: 6px;
		}
	}

	.appointment-calendar-time {
		color: $primary-2;
		font-size: 14px;
		line-height: 23px;
		font-weight: bold;
	}

	.vertical-divider {
		margin: 10px 40px 10px 20px;
	}

	.vertical-line {
		@extend .vertical-divider;

		border-right: 1px solid $primary-2;
	}

	.appointment-details-display-name {
		position: relative;
		right: 3px;
		font-size: 1.25em;
	}

	.small-appt-status-icon {
		height: 30px;
		width: 30px;
		line-height: 28px;
		display: inline-block;
		margin-right: 7px;
		font-size: 0.9rem;
		font-weight: 400;
		vertical-align: top;
	}

	.inspector-comments {
		padding-left: 5px;
	}

	.edit-button {
		margin-top: 8px;
	}

	.utc {
		p {
			color: $dark-color-2;
			font-weight: normal;

			span {
				font-weight: bold;
			}
		}

		p + div {
			margin-top: 10px;

			p {
				margin: 0;
			}
		}

		.info-icon svg {
			fill: $warning;
		}
	}

	.no-status {
		margin-left: 40px;
	}
}

.appt-utc-icon {
	position: relative;
}

.appt-utc-icon::after {
	position: absolute;
	background-color: red;
	padding: 2px 4px;
	border-radius: 10px;
	height: 10px;
	width: 17px;
	top: -6px;
	right: -6px;
	line-height: 10px;
	font-size: 8px;
	color: white;
	font-weight: bold;
	content: "UTC";
}

.appointment-audit-dialog,
.appointments-list,
.internal-comments,
.dispositions,
.request-history {
	section {
		header,
		footer {
			background: $secondary-5;
		}

		header {
			padding: 10px;
			font-size: 16px;
			font-weight: bold;
		}

		.history-data,
		.history-audit-data {
			padding: 10px;
		}

		.history-data {
			&:nth-child(odd) {
				background-color: $bg-4;
			}
		}

		.history-audit-data {
			font-size: 14px;

			span {
				padding: 1px 4px;
				word-wrap: break-word;
				word-break: break-word;
			}

			.audit-header {
				text-align: right;
				font-weight: bold;
			}
		}

		.history-action {
			font-weight: 500;
		}
	}
}

.dispositions,
.internal-comments {
	section .history-data {
		padding: 0 10px;

		div {
			padding: 15px 0;
		}

		.md-icon-button.md-button.edit-button {
			display: none;
		}

		.md-icon-button.md-button.edit-button:focus {
			display: block;
		}

		&:hover .md-icon-button.md-button.edit-button {
			display: block;
		}
	}
}

.required {
	display: inline-block;
	vertical-align: top;
	color: red;
	margin-left: 10px;
}

.required-left {
	@extend .required;

	margin-left: 0;
	margin-right: 10px;
}

.required-legend {
	padding-top: 10px;
}

md-input-container {
	label > span.required {
		margin-bottom: -11px;
	}
}

.md-button.reinspect-button {
	background-color: $status-C;
	color: $white-color-1;
	border: 1px solid $status-C;

	&:hover {
		background-color: $white-color-1;
		color: $status-C;
	}
}

.crm-vehicle-info-section {
	margin-bottom: 20px;
	display: inline-block;
}

.vehicle-info {
	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	form[name="numOfVehiclesForm"] {
		height: 35px;
		max-width: 170px;

		md-input-container {
			min-width: auto;
		}
	}

	.hide-button-not-hovered:not(:hover) form button.md-icon-button {
		opacity: 1;
	}

	.vehicles-headers {
		padding: 5px 0;
		border-top: 1px solid $dark-color-3;
		border-bottom: 1px solid $dark-color-3;
		margin-top: 20px;
	}

	.vehicle-edit {
		@extend .card-background-thingy;

		margin: 10px 0;
	}

	.hover-buttons:hover .md-icon-button {
		display: block;
	}

	.hover-buttons div p {
		text-transform: capitalize;

		span {
			height: 15px;
			width: 15px;
			display: inline-block;
			top: 3px;
			position: relative;
			border: 1px solid grey;
			margin-right: 10px;
		}
	}
}

.hint-text {
	color: $dark-color-3;
}

.crm-complete-icon {
	svg {
		fill: inherit;
	}

	fill: $active;
}

.crm-gray-font .crm-complete-icon svg {
	fill: $dark-color-2;
}

.no-pointer {
	&:hover {
		cursor: default;
	}

	&:focus {
		outline: none;
	}
}
