@media screen and (min-width: 960px) {
	.md-dialog-content {
		crm-choose-organization {
			max-width: 670px;
		}

		.appt-availability {
			max-width: 670px;

			md-radio-group {
				border: 1px solid $white-color-2;
				display: block;
				overflow: auto;
			}

			table tr {
				th.row-date {
					width: 25%;
				}

				th.row-time {
					width: 30%;
				}

				th.row-spacer {
					width: 35%;
				}

				th.row-select {
					width: 10%;
				}
			}
		}
	}
}

.dealer-dialog-choose-organization {
	margin-bottom: 20px;
}

.crm-dialog {
	min-width: 50%;
}

.error-dialog {
	max-width: 80%;

	h2,
	md-icon {
		margin-left: 10px;
	}

	md-toolbar {
		background-color: $error-red;
	}
}

.appointment-details-dialog {
	.md-dialog-content {
		padding-bottom: 0;
	}

	.appointment-date-error.validation-messages {
		margin-top: 35px;
	}

	.call-type-error.validation-messages {
		margin-top: -10px;
	}

	label.input-label,
	label[for="preferred-days"],
	label[for="disposition-call-types"],
	label[for="country"],
	label[for="appointment-date"],
	label[for="appointment-start-datetime"],
	label[for="appointment-time-display"],
	label[for="assigned-start-datetime"] {
		color: $dark-color-2;
	}

	label.input-label,
	label[for="country"],
	label[for="assigned-inspector"] {
		margin-top: 25px;
	}

	.crm-custom-validation-message.validation-messages {
		margin-top: -25px;
		position: relative;
	}

	label[for="appointment-date"],
	label[for="appointment-time-display"],
	label[for="appointment-start-datetime"],
	label[for="assigned-start-datetime"] {
		margin-top: 25px;
	}

	.appointment-margin {
		margin-top: 20px;
	}

	md-datepicker {
		min-height: auto;
	}

	.no-bullets {
		width: 100%;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
		}
	}

	.check-availability {
		margin-bottom: 20px;

		md-input-container._md-datepicker-floating-label._md-datepicker-has-calendar-icon {
			.md-input-messages-animation .md-input-message-animation {
				margin-left: 0;
			}
		}
	}
}

.radio-label-status-p,
.radio-label-status-c,
.radio-label-status-C,
.radio-label-status-P,
.radio-label-status-h,
.radio-label-status-r,
.radio-label-status-s,
.radio-label-status-a,
.radio-label-status-t {
	@extend .circle-icon;

	cursor: pointer;
	background-color: $bg-4;
	margin-right: 15px;
}

.radio-label-inspection-type-d,
.radio-label-inspection-type-my, {
	@extend .circle-icon;

	cursor: pointer;
	background-color: $bg-4;
	margin-right: 15px;

	&:hover {
		background-color: $dark-color-2;
	}
}

/* stylelint-disable rule-empty-line-before */
.radio-label-status-p {
	color: $status-p;
	border: 1px solid $status-p;
}
.radio-label-status-c {
	color: $status-c;
	border: 1px solid $status-c;
}
.radio-label-status-C {
	color: $status-C;
	border: 1px solid $status-C;
}
.radio-label-status-P {
	color: $status-P;
	border: 1px solid $status-P;
}
.radio-label-status-h {
	color: $status-h;
	border: 1px solid $status-h;
}
.radio-label-status-r {
	color: $status-r;
	border: 1px solid $status-r;
}
.radio-label-status-s {
	color: $status-s;
	border: 1px solid $status-s;
}
.radio-label-status-a {
	color: $status-a;
	border: 1px solid $status-a;
}
.radio-label-status-t {
	color: $status-t;
	border: 1px solid $status-t;
}

.radio-statuses input[type=radio] {
	z-index: 0;
	opacity: 0;
}
.radio-statuses input[type=radio]:checked + .radio-label-status {
	color: $white-color-1;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-p {
	background-color: $status-p;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-c {
	background-color: $status-c;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-C {
	background-color: $status-C;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-P {
	background-color: $status-P;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-h {
	background-color: $status-h;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-r {
	background-color: $status-r;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-s {
	background-color: $status-s;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-a {
	background-color: $status-a;
}
.radio-statuses input[type=radio]:checked + .radio-label-status-t {
	background-color: $status-t;
}

.radio-statuses input[type=radio]:checked + .radio-label-inspection-type {
	color: $white-color-1;
	background-color: $dark-color-1;
}

.radio-label-status:hover {
	color: $white-color-1;
}
.radio-label-status-p:hover {
	background-color: $status-p;
}
.radio-label-status-c:hover {
	background-color: $status-c;
}
.radio-label-status-C:hover {
	background-color: $status-C;
}
.radio-label-status-P:hover {
	background-color: $status-P;
}
.radio-label-status-h:hover {
	background-color: $status-h;
}
.radio-label-status-r:hover {
	background-color: $status-r;
}
.radio-label-status-s:hover {
	background-color: $status-s;
}
.radio-label-status-a:hover {
	background-color: $status-a;
}
.radio-label-status-t:hover {
	background-color: $status-t;
}
/* stylelint-enable rule-empty-line-before */

.status-picker,
.radio-status-label {
	margin-top: 20px;
}

.comment-label {
	position: relative;
	top: -10px;
}

.utc-dialog {
	md-datepicker {
		padding: 0;
	}
}

.reason-picker {
	margin-top: 5px;
}

.appointment-utc-detail {
	margin-bottom: -25px;

	.appointment-utc-audit-display {
		padding: 20px;
		background-color: $bg-2;

		.utc-icon-column {
			padding-right: 25px;
		}

		.utc-photo-container {
			padding-top: 10px;

			img:hover {
				cursor: zoom-in;
			}
		}

		img {
			width: 100%;
			max-width: 250px;
		}

		.utc-label {
			font-weight: bold;
			margin-bottom: 5px;
			margin-top: 12px;
		}

		.utc-descriptions {
			div[layout="row"]:last-of-type p {
				margin-bottom: 0;
			}

			div[layout="row"] p {
				color: $dark-color-2;

				label {
					font-weight: bold;
				}

				font-size: 14px;
				margin-top: -5px;
			}
		}
	}
}

.appointment-audit-dialog {
	.history-data {
		background-color: $bg-2;

		div {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.history-audit-data {
			span:first-of-type {
				flex: 1 1 30%;
				max-width: 30%;
			}

			span:last-of-type {
				flex: 1 1 70%;
				max-width: 70%;
			}
		}
	}

	md-dialog-actions {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		z-index: 1;
	}
}
