.inspection-request {
	h1,
	form {
		float: left;
		width: 100%;
		background-color: $bg-2;
	}

	h1 {
		margin: 0;

		span {
			color: $white-color-1;
			float: left;
			display: block;
			padding: 10px 40px;
			background-color: $secondary-2;
		}
	}

	h2 {
		color: $primary-2;
	}

	p {
		color: $dark-color-3;
		font-size: 14px;
	}

	form {
		display: inherit;
		padding: 20px 40px 50px;
	}

	md-input-container {
		min-width: 250px;

		.md-input[disabled] {
			margin-bottom: 0;
		}

		.asterisk::after {
			content: "*";
		}
	}

	.form-icon {
		margin: 25px;
	}

	.dealer-info {
		@extend .card-background-thingy;

		padding-top: 20px;
	}
}

.md-input-focused:not(.md-input-has-value) label.md-placeholder {
	opacity: 0;
}

.crm-vehicle-details {
	div > p {
		color: $dark-color-2;
	}

	.crm-vehicle-detail {
		@extend .card-background-thingy;

		&,
		.crm-triangle-container {
			border-top-right-radius: 5px;
		}

		.crm-triangle-container {
			opacity: $opacity;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			.crm-triangle {
				width: 0;
				height: 0;
				border-top: 40px solid $secondary-2;
				border-left: 40px solid transparent;
			}

			.crm-cross {
				md-icon {
					width: 16px;
					left: 19px;
					position: absolute;

					svg {
						fill: #ffffff;
					}
				}
			}
		}

		md-input-container {
			margin-bottom: -18px;
			min-width: 0;
		}

		.vehicle-color-dropdown-row {
			margin-bottom: 25px;

			.vehicle-color-label {
				top: 20px;
			}
		}
	}

	md-radio-button {
		display: inline-block;
		margin-right: 40px;
	}
}

.crm-label-add-by {
	> * {
		margin-right: 15px;
	}

	> div {
		color: $dark-color-2;
		line-height: 30px;
	}
}
